/// Project

.project-card {
  &__image {
    border-radius: theme("borderRadius.sm");
    margin-inline: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__label {
    text-align: center;
    font-weight: bold;
    font-size: theme("fontSize.lg");
  }
}
